body{
    background-color: rgb(128, 246, 250);
}

.header{
    margin-left: 15vw;
}
.line{
    height: 0px;
    border-top: 1px solid black;
    width: 50vw;
}

.left-nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 10vw;
    background-color: rgb(8, 51, 10);
}

.circle{
    border-radius: 45px;
    background-color: white;
    width: 5vw;
    height: 5vw;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 5vw;
    font-size: 50px;
}

.circle > img {
    width: 5vw;
    height: 5vw;
}
.block > p {
    color: white;
}

.block{
    margin-left:2vw;
    margin-top: 5vh;
}

.bg-green{
    background-color: green;
    position: absolute;
    margin-left: 10vw;
    bottom: 0;
    width: 90vw;
    height: 30vh;
}